<?xml version='1.0' encoding='utf-8'?>
<widget id="com.refine.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- https://cordova.apache.org/docs/en/12.x/config_ref/index.html -->
    <name>Refine</name>
    <description>Refine Boilerplate for Web (PWA), Desktop and Mobile</description>
    <author email="josephgodwinke@yandex.com" href="https://kimani.gocho.live">
        Godwin Kimani
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-manifest/@usesCleartextTraffic" value="true" />
</widget>
